<%= form_for([storage, product]) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field">
    <%= form.label :product_name %><br>
    <%= form.text_area :product_name, id: :product_name %>
  </div>
  <br>
  <div class="field">
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity, id: :quantity %>
  </div>

  <br>
  <div class="field">
    <%= form.label :product_type_id, 'Type' %>
	  <%= form.select(:product_type_id, options_for_select(@types), prompt: 'Select one') %>
    <%= link_to 'Add new type', new_product_type_path %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %><br>
    <%= form.date_field :expiration_date, id: :expiration_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
