<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Type</th>
      <th>Expiration date</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.unit %></td>
        <td><%= product.product_type %></td>
        <td><%= product.expiration_date %></td>


        <td><%= link_to 'Edit',  edit_storage_product(storage, product) %></td>
        <td><%= link_to 'Delete', storage_product_path(storage, product), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new product', new_storage_product_path(storage) %>
